---
import ExternalA from '@components/external-a.svelte'
import Guide from '@components/home/guide.svelte'
import Nav from '@components/home/nav.svelte'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Layout from '@layout'
export { getStaticPaths } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const thx = {
  'home.developers': [['Luis', 'https://luis.fun', '🤡']],
  'home.resources': [
    ['Dimbreath', 'https://gitlab.com/Dimbreath/AnimeGameData', 'Game Data'],
    ['Anonbelle', 'https://gi.yatta.moe', 'Image Resources'],
    ['Algoinde', 'https://enka.network', 'Showcase API'],
  ],
  'home.translators': [
    ['박작가', '', '한국어'],
    ['Danilo Silva', '', 'Português'],
  ],
}
---

<Layout title={t("home.title")} grid defaultTitle>
	<div>
		<Nav client:load {lang} />
	</div>
	<div>
		<Guide client:load {lang} />
	</div>
	<div class="collapse collapse-arrow bg-neutral">
		<input type="checkbox" class="min-h-12" aria-label={t("home.thanks")} />
		<div class="collapse-title min-h-12">{t("home.thanks")}</div>
		<div class="collapse-content text-base">
			{(Object.keys(thx) as (keyof typeof thx)[]).map(key => (
				<div class="mt-6 mb-3 first:mt-3">{t(key)}</div>
				<>
					{thx[key].map(e => (
						<div>
							{e[1] ? <ExternalA class="text-link" href={e[1]} aria-label={e[0]}>{e[0]}</ExternalA> : e[0]}
							— {e[2]}
						</div>
					))}
				</>
			))}
		</div>
	</div>
</Layout>

<style>
	.collapse-arrow > .collapse-title:after{
		top: 1.55rem;
	}
</style>
