---
import Collapse from '@components/collapse.svelte'
import ExternalA from '@components/external-a.svelte'
import { data } from '@components/player-card/data'
import Generator from '@components/player-card/generator.svelte'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Layout from '@layout'
export { getStaticPaths } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const xIds = [...new Set(data.filter(e => e.toolId).map(e => e.x))]
---

<Layout title={t("player-card.title")}>
  {import.meta.env.DEV ?
  <Generator client:only="svelte" {lang} />
  <Collapse title={t("player-card.credit")} arrow>
    <div class="grid gap-2 sm:gap-0 grid-cols-1 sm:grid-cols-2">
      <div>
        <div class="text-xl mb-2">{t("player-card.templates")}</div>
        {xIds.map(id => <ExternalA class="block text-link" href={`https://x.com/${id}`} aria-label={id}>@{id}</ExternalA>)}
      </div>
      <div>
        <div class="text-xl mb-2">{t("player-card.fonts")}</div>
      </div>
    </div>
  </Collapse>
  :
  <div>
    <div class="text-xl text-center my-6">ページの再構築中です。</div>
    <div class="text-center text-base my-6">ブックマーク等はそのまま、<ExternalA class="text-link" href={`https://old.paimon.plus/${lang}/player-card/`}>こちら</ExternalA>の古いサイトを利用してください。</div>
  </div>
  }
</Layout>
