---
import { getLangFromUrl } from '@i18n/utils'
const pageLang = getLangFromUrl(Astro.url)

type Props = {
  title?: string
}
const { title } = Astro.props

const head = {
  title: title || 'Paimon+',
  desc: 'Genshin Web Tools',
  url: 'https://paimon.plus',
  image: 'https://paimon.plus/icons/android-chrome-144x144.png',
  author: 'Luis',
  color: '#1a1b1e',
  appleicon: "/icons/apple-touch-icon.png",
  favicon32: '/icons/favicon-32x32.png',
  favicon16: '/icons/favicon-16x16.png',
  manifest: `/manifest${pageLang ? `-${pageLang}` : ''}.webmanifest`,
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{head.title}</title>
  <meta name="description" content={head.desc} />
  <meta property="og:title" content={head.title} />
  <meta property="og:description" content={head.desc} />
  <meta property="og:url" content={head.url} />
  <meta property="og:image" content={head.image} />
  <meta property="og:type" content="website" />
  <meta property="og:image:alt" content={head.desc} />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content={head.author} />
  <meta name="msapplication-TileColor" content={head.color} />
  <meta name="theme-color" content={head.color} />
  <link rel="apple-touch-icon" sizes="120x120" href={head.appleicon} />
  <link rel="icon" type="image/png" sizes="32x32" href={head.favicon32} />
  <link rel="icon" type="image/png" sizes="16x16" href={head.favicon16} />
  <link rel="manifest" href={head.manifest} />
  <slot />
</head>
