---
import paimon from '@assets/webp/paimon.webp'
import Svg from '@components/svg.svelte'
import { ui } from '@i18n/ui'
import { getLangFromUrl, useTranslatedPath } from '@i18n/utils'

const pageLang = getLangFromUrl(Astro.url)
const [, , pagePath] = Astro.url.pathname.split('/')
const translatePath = useTranslatedPath(pageLang)
---

<header class="flex items-center justify-between py-2 border-b border-border">
  <a href={translatePath('/')} class="flex items-center text-2xl font-genshin">
    <img src={paimon.src} width={paimon.width} height={paimon.height} alt="paimon" class="w-9 rounded-full overflow-hidden mr-3" />
    <div class="mt-1">Paimon<span class="ml-0.5">+</span></div>
  </a>
  <div class="dropdown dropdown-hover dropdown-end">
    <div tabindex="0" role="button" aria-label="language selector">
      <Svg icon="lang" class="h-6" />
    </div>
    <ul tabindex="0" class="dropdown-content menu bg-neutral rounded-md z-[1] w-fit p-1 shadow-background">
      {Object.entries(ui).map(([lang, {label}]) => (
        <li>
          {pageLang === lang && <div class="absolute left-1.5 top-1/2 -transform-y-1/2 bg-text rounded-full w-1.5 h-1.5 p-0" />}
          <a href={translatePath(pagePath ? `/${pagePath}/` : '/', lang as keyof typeof ui)} aria-label={label}>{label}</a>
        </li>
      ))}
    </ul>
  </div>
</header>
